<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/searches" method="POST">
        <input type="text" name="Search" placeholder="Search">
        <br>
        <input type="radio" name="searchesCat" value="titleOn">
        <label for="title">Title</label>
        <br>
        <input type="radio" name="searchesCat" value="authorOn">
        <label for="author">Author</label>
        <br>
        <button id="result">Search The Google Books API</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="server.js"></script>
</body>
</html>