<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <header class="header">
        <h1>Hello World!</h1>
    </header>
    <main>
        <div class="href">
        <a href="/hello">HOME</a>
        <a href="./searches/new">SEARCH</a>
        </div>
    </main>
    <footer>
        <div class="footer">
            <a href=""><img src="./public/img/fb-icon.png" alt=""></a>
            <a href=""><img src="./public/img/twit-icon.png" alt=""></a>
            <a href=""><img src="./public/img/insta-icon.png" alt=""></a>
            <a href=""><img src="./public/img/mail-icon.png" alt=""></a>
        </div>
    </footer>
</body>
</html>